<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Christmas</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Christmas</string>
                </array>
            </dict>
        </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Christmas</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Christmas</string>
                </array>
            </dict>
        </dict>
    </dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
